
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Questrial');
* {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }

body{
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1em;
    color: #ffffff;
    max-width: auto;
    margin: auto;
    background-color: #0E3F67;
    }

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30pt;
    color: #ffffff;
    line-height: .5em;
    }

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #ffffff;
    }

h3 {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 14pt;
    color: #ffffff;
    }

/*
main{
    align-content: center;
    max-width: 820px;
    border: 4px solid pink;
    }*/


/* HEADER */

.site-header{
    padding: 5px;
}

.sitetitle {
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    line-height:1em;
    }

/* Footer */

footer {
    z-index: 3;
    margin: auto;
    padding-top: 20px;
    align-content: center;
    }

footer p{
    font-size: 12px;
    color: #FFCC33;
    }


/** NAVIGATION **/

.main-navigation ul {
    list-style-type: none;
    padding: 0;
    width: 15%;
    float:left;
    text-align: center;
    color: #ffffff;
    background-color: #0E3F67;
    background: linear-gradient(to bottom, rgba(14, 63, 103, 1), rgba(0, 0, 0, .75));
    position: fixed;
    z-index: 2;
    height: 100%;
    overflow: auto;
    }

.main-navigation li{ 
    margin: 10px;
    }

.main-navigation li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    }

.main-navigation li a.active {
    background-color: #9926FB;
    color: #ffffff;
    }

.main-navigation li a:hover:not(.active) {
    background-color: #9926FB;
    color: #ffffff;
    }



    
/* ALIGNMENT */


/*.alignleft {
    float: left;
    margin: 7px 28px 28px 0;
    }
*/
/*.alignright {
    float: right;
    margin: 28px;
    }
*/
/*.aligncenter {
    clear: both;
    display: block;
    margin: 7px auto;
    }*/

/*/////////////////
LANDING PAGE STYLES 
/////////////////*/

#main-section{
/*  display: inline-block;*/
    padding: 10px;
    width: 1280px;
    height: auto;
    float: right;
    display: block;
    margin-right: auto;
/**change url to match your brand*/
    background-image: url("../img/milwaukee.jpg");
    background-repeat: no-repeat;
    }

@media screen and (max-width: 1280px) {
    #main-section{
        width: 980px;
        }
        }

@media screen and (max-width: 980px) {
     #main-section{
        width: 780px;
        }
        }
@media screen and (max-width: 780px) {
     #main-section{
        width: 580px;
        }
        }

@media screen and (max-width: 480px) {
   #main-section{
        width: 280px;
        }
}



#welcome {
    line-height: .5em;
    margin-left: 70px;
    margin-top: 50px;
    max-width: 400px;
    /*border: 4pt solid white;*/
}

.post-landing{
    margin-top: 720px;
    display: block;
    width: 980px;
    height: auto;
    margin: 10px;
    border: 3px solid white;
   /* columns: 3;*/
    }

.landingPost{
    background-color: white;
    color: grey;
    max-width: 100%;
    margin: 5px;
    border: solid 1pt red;
    }
    
.landingPost:after {
  content: "";
  display: table;
  clear: both;
}

.landingPost h3{
    background-color: #0E3F67;
    color: white;
    padding: 20px;
    margin:0px;
    }

.landingPost p{
    padding: 20px;
    margin:5px;
    }



/* INDIVIDUAL UNIT POSTS */

#secondary-section{
/*    display: inline-block;*/
    padding: 10px;
    width: 980px;
    height: auto;
    float: center;
    clear: both;
/*    display: block;*/
    margin: 7px auto;
    }



/*.post{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1pt solid pink;

    column-count: 2;
    display: inline-block;
    width: 450px;
    height: auto;
    margin: 10px;
    border: 3px solid #73AD21;  
    }*/




/*
END OF LANDING PAGE STYLES 
*/


/*/////////////////
PAGE STYLE - WP DOCUMENTATION 
THE FOLLOWING NAMES WOULD BE ADDED INSIDE THE 
(  ) FOR --> BODY_CLASS() 
/////////////////*/

/*.page{
    padding: 16px;
    max-width: 100%;
    max-height: auto;
    clear: both;
    margin: auto;
    align-self: center;*/
   /* border: 5pt dotted red;
    }*/

    /* styles for all posts within the page class */


.page-id-2 {
    /* styles for only page ID number 2 */
    }

.format-standard {
    /* Styles for all posts assigned the post-format of 'standard'  */
    }

/* POST DETAILS AND STYLE BELOW */

/*
.post{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1pt solid pink;

    column-count: 2;
    display: inline-block;
    width: 450px;
    height: auto;
    margin: 10px;
    border: 3px solid #73AD21;  
    }
*/

/* POST clearfix*/
.post:after {
  content: "";
  display: table;
  clear: both;
}

./*post .post_image{
    margin:auto;
    max-height: 50%;
    max-width: auto;
    }

.post .post_image a h2:hover {
    color: #dff280;
    text-decoration: none;
    }

.post .post_video a h2:hover {
    color: #f67280;
    text-decoration: none;
    }

.post a {
    text-decoration: none;
    color: #a00684;
    }

.post a:hover {
    color: #7921ff;
    }
a {
    text-decoration: none;
    color: #585858;
    }

a:hover {
    color:darkturquoise;
    }

*/

/*OBJECT FILL*/
/*.post .fill {
  object-fit: fill;
}

.post .contain {
  object-fit: contain;
}

.post .cover {
  object-fit: cover;
}

.post .none {
  object-fit: none;
}

.post .scale-down {
  object-fit: scale-down;
}*/


/* FORMS */

.formarea{
    background: #e0e0e0;
    max-width: 900px;
    margin-left: 350px;
    margin-top: 100px;
    border: 2pt solid #202f5b;
    border-radius: 10px;
    color: black;
    }

.formarea p{
    padding: 20px;
    margin: auto;
    }

.formarea h2{
    text-align: center;
    color: black;
    }

input[type=button], input[type=submit]{
    background-color: #9926FB;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    width: 50%;
    cursor:pointer;
    }

input[type=button]:hover{
    background-color: #ffffff;
    -webkit-transition-duration: 0.4s;
    color: white;
    }

form:not(.site-edit) input {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 100%;
    }


