@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Signika:400,600');

font-family: 'Raleway', sans-serif;
font-family: 'Signika', sans-serif;

* {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1em;
	color: #ffffff;
	max-width: 1200px;
	padding: 16px;
	margin: auto;
	background-color: #0E3F67;
	}

h1 {
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	font-size: 30pt;
	color: #FFCC33;
	}

h2 {
	font-family: 'Signika', sans-serif;
	font-weight: 400;
	font-size: 38pt;
	color: #f71b3f;
	}

h3 {
	font-family: 'Raleway', serif;
	font-weight: 500;
	font-size: 18pt;
	}

main{
	align-content: center;
	}

	

/* ALIGNMENT */

.alignleft {
	float: left;
	margin: 7px 28px 28px 0;
}

.alignright {
	float: right;
	margin: 7px 0 28px 28px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 7px auto;
}

/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */
/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */

/* Page Style PLACE HOLDER - WP DOCUMENTATION 
THE FOLLOWING NAMES WOULD BE ADDED INSIDE THE 
(  ) FOR --> BODY_CLASS() */

.page{

    /* styles for all posts within the page class */
}
.page-id-2 {
    /* styles for only page ID number 2 */
}
.logged-in {
    /* styles for all pageviews when the user is logged in */
}

/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */
/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */

/* THESE STYLE THE SPECIFIC POST BUT NOT USING FOR NOW.
SEE WP DOCUMENTATION FOR DETAILS */

.post {
    /* Styles for all posts */
}
 
.post-4564 {
    /* Styles for only this post (ID number 4564) */
}
 
.category-news {
    /* Styles for all posts in the 'news' category  */
}
 
.format-standard {
    /* Styles for all posts assigned the post-format of 'standard'  */
}

/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */
/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */


/* CURRENT POST DETAILS AND STYLE BELOW */

.post .post_date h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 10pt;
	}

.post{
	background-color: #ffffff;
	padding: 20px;
	margin: 10px;
	}

.post .post_image{
	margin:auto;
	max-width: auto;
	}

/* NOT SURE THIS IS THE CORRECT MARK UP  */


.post .post_image a h2:hover {
    color: #dff280;
    text-decoration: none;
}

.post .post_video a h2:hover {
    color: #f67280;
    text-decoration: none;
}

/*/////////////////////////////////////*/

.post a {
	text-decoration: none;
	color: #a00684;
	}

.post a:hover {
	color: #7921ff;
	}

a {
	text-decoration: none;
	color: #585858;
	}

a:hover {
	color:darkturquoise;
	}

/* NAVIGATION */

.main-navigation ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 15%;
    text-align: center;
    color: #ffffff;
    background-color: #0E3F67;
 	background: linear-gradient(to bottom, rgba(14, 63, 103, 1), rgba(0, 0, 0, .75));
    position: fixed;
    height: 100%;
    overflow: auto;
}

.main-navigation li{ 
    margin-top: 50px;
 }

.main-navigation li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
}

.main-navigation li a.active {
    background-color: #9926FB;
    color: #ffffff;
}

.main-navigation li a:hover:not(.active) {
    background-color: #9926FB;
    color: #ffffff;
}


/*OLD NAV 

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 10pt;
	}

nav li {
	float: left;
	}

nav li a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
	background-size: 100%;
	}

ul{
	display: table;
	list-style-type: none;
	}

li {
	margin-bottom: .75rem;
	list-style-type: none;
	}


li ul li {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #aaa;
	display: block;
	float: left;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
	}

	*/

/* Forms */

.formarea{
	background: #ffffff;
	max-width: 720px;
	margin-left: 350px;
	margin-top: 100px;
}

.data{
	padding: 10px;
	border: solid 5pt;
	border-color: #334BFF;
	background-color: #000;
	align-content: center;
	margin: auto;   
	}

input[type=button], input[type=submit]{
	background-color: #FFCC33;
	border: none;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	width: 100%;
	cursor:pointer;
	}

input[type=button]:hover {
	background-color: #4CAF50;
	color: white;
	}

form:not(.site-edit) input {
	display: block;
	font-size: 1.5rem;
	line-height: 3rem;
	width: 100%;
	}

form:not(.site-edit) input[type=submit] {
	background-color: #FFCC33;
	text-transform: uppercase;
	}


input::placeholder {
	color: #ddd;
	font-weight: 700;
	text-transform: uppercase;
	}


/* Footer */
footer {
	border-top: 3pt solid #FFCC33;
	}

footer nav{
	margin: auto;
	padding-top: 20px;
	align-content: center;
	}

footer p{
	font-size: 12px;
	color: #FFCC33;
	align-content: center;
	}
