
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Questrial');
* {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }

body{
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1em;
    color: #ffffff;
    max-width: auto;
    margin: auto;
    background-color: #0E3F67;
    }

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30pt;
    color: #FFC100;
    line-height: .5em;
    }

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #106FBE;
    text-align: center;
    }

h3 {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 20pt;
    color: #FFC100;
    }

h4 {
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 16pt;
    color: #33B2FF;
    }

/* HEADER */

.site-header{
    padding: 5px;
}

.sitetitle {
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    line-height:1em;
    }

/* Footer */

footer {
    z-index: 3;
    margin: auto;
    padding-top: 20px;
    align-content: center;
    }

footer p{
    font-size: 12px;
    color: #FFCC33;
    }


/** NAVIGATION **/

.main-navigation ul {
    list-style-type: none;
    padding: 0;
    width: 15%;
    float:left;
    text-align: center;
    color: #ffffff;
    background-color: #0E3F67;
    background: linear-gradient(to bottom, rgba(14, 63, 103, 1), rgba(0, 0, 0, .75));
    position: fixed;
    z-index: 2;
    height: 100%;
    overflow: auto;
    }

.main-navigation li{ 
    margin: 10px;
    }

.main-navigation li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    }

.main-navigation li a.active {
    background-color: #00FFFF;
    color: #ffffff;
    }

.main-navigation li a:hover:not(.active) {
    background-color: #00FFFF;
    color: #0E3F67;
    }


/*/////////////////
PAGE STYLE - WP DOCUMENTATION 
THE FOLLOWING NAMES WOULD BE ADDED INSIDE THE 
(  ) FOR --> BODY_CLASS() 
/////////////////*/


#main-section{
    padding: 10px;
    width: 1000px;
    height: auto;
    display: inline-block;
    margin: auto;


/**change url to match your brand*/
/*  background-image: url("../img/milwaukee.jpg");
    background-repeat: no-repeat;*/
    }


#welcome {
    line-height: .5em;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 400px;
    }

#welcome h2{
    text-align: left;
    }

.position-post{
    margin-left: 300px;
    }

.post-landing{
    width: 1000px;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
/*    border: 1px solid white;*/
    }

.landingPost{
    background-color: #ffffff;
    color: grey;
    margin: auto;
    }
    
.landingPost:after {
    content: "";
    display: table;
    clear: both;
    }

.landingPost h3{
    background-color: #106FBE;
    color: white;
    padding: 20px;
    margin:0px;
    }

.landingPost p{
    padding: 20px;
    margin:5px;
    }


/* INDIVIDUAL UNIT POSTS */

#secondary-section{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    }

#secondary-section ul{
    list-style-type: none;
    }


/*
END OF LANDING PAGE STYLES 
*/

/*.page{
    padding: 16px;
    max-width: 100%;
    max-height: auto;
    clear: both;
    margin: auto;
    align-self: center;
    border: 5pt dotted red;
    }*/

/* POST DETAILS AND STYLE BELOW */

.post {
    background: white;
    padding: 5px;
    width: 300px;
    height: auto;
    margin-top: 10px;
    color: grey;
    text-align: left;
    /*border: 3px solid #73AD21;*/
    }

/* POST clearfix*/

.post:after {
    content: "";
    display: table;
    clear: both;
    }

.post .post_image{
    margin:auto;
    max-height: 50%;
    max-width: auto;
    }

.post a {
    text-decoration: none;
    color: #a00684;
    }

.post a:hover {
    color: #7921ff;
    }

a {
    text-decoration: none;
    color: #585858;
    }

a:hover {
    color:darkturquoise;
    }


/* RENTAL APP QUICK FIX */

.rentalapp{
    margin-left:300px;
}


/* FORMS */

.formarea{
    background: #e0e0e0;
    max-width: 900px;
    margin-left: 350px;
    margin-top: 100px;
    border: 5pt solid #ffffff;
    border-radius: 8px;
    color: black;
    }

.formarea p{
    padding: 20px;
    margin: auto;
    }

.formarea h2{
    text-align: center;
    color: #33B2FF;
    font-size: 24pt;
    background-color: white;
    padding: 20px;
    margin:0;
    }

input[type=button], input[type=submit]{
    background-color: #9926FB;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    width: 25%;
    cursor:pointer;
    }

input[type=button]:hover{
    background-color: #ffffff;
    -webkit-transition-duration: 0.4s;
    color: white;
    }

form:not(.site-edit) input {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 100%;
    }


